body {
    background-color: #1a1a1a; 
    color: white;
    font-family: 'Courier New', Courier, monospace; 
    text-align: center;
    margin: 0;
}

header {
    background-color: #000;
    padding: 20px;
    border-bottom: 2px solid red;
}

header h1 {
    letter-spacing: 5px;
    color: #ff0000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.presentacion {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.tarjeta {
    width: 250px;
    background-color: #333;
    padding: 10px;
    border: 1px solid #444;
}

.tarjeta img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: grayscale(100%); 
    transition: 0.3s;
}

.tarjeta img:hover {
    filter: grayscale(0%); 
    border: 2px solid red;
}

.tarjeta h3 {
    font-size: 16px;
    margin-top: 10px;
    color: white;
}


.cuadro-rojo {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}


.cuadro-rojo:target {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    background-color: #8b0000; 
    padding: 40px;
    width: 60%;
    border: 5px double black;
    box-shadow: 0 0 20px red;
    position: relative;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: black;
    padding: 5px;
}

footer {
    margin-top: 50px;
    font-size: 12px;
    color: #ff0000;
    padding-bottom: 20px;
}