/* Estilo general de la página */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #880000; /* Rojo chillón */
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
}

.asesino {
    background-color: #e0e0e0;
    margin: 15px;
    padding: 10px;
    border-left: 5px solid red;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

h2, h3 {
    color: #990000;
}